<table border=1>
    <tr>
      <th>Order Number</th>
      <th>Territory</th>
			<th>Restaurant</th>
      <th>Phone Number</th>
			<th>Order Type</th>
      <th>Order Total</th>
      <th>Call Attempts</th>
      <th>Call Status</th>
      <th>Email Status</th>
    </tr>
    <% @model.keys('*').each do |key| %>
			<% if @model.type(key) == 'hash' && /id:[^\d]*(\d+)/.match('key')%>
				<tr>
					<td><%= /id:[^\d]*(\d+)/.match('key')[1]%></td>						<!--Order Number-->
				  <td><%= @model.hget(key, "territory_name")%></td>					<!--Territory-->
					<td><%= @model.hget(key, "restaurant_name")%></td>				<!--Restaurant-->
				  <td><%= @model.hget(key, "restaurant_phonenumber")%></td>	<!--Phone Number-->
					<td><%= @model.hget(key, "order_type")%></td>							<!--Order Type-->
				  <td><%= @model.hget(key, "order_total")%></td>						<!--Order Total-->
				  <td><%= @model.hget(key, "attempts")%></td>								<!--Call Attempts-->
				  <td><%= @model.hget(key, "call_status")%></td>						<!--Call Status-->
				  <td><%= @model.hget(key, "email_status")%></td>						<!--Email Status-->
				</tr>
		  <% end %>
		<% end %>
</table>
